@font-face {
  font-family: SegoeUIVariableSemibold;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Semibold.ttf");
}

@font-face {
  font-family: SegoeUIVariable;
  src: url("fonts/Segoe-UI-Variable-Static-Display.ttf");
}


html, body {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-image: url("https://source.unsplash.com/1600x900/?mountains");
  font-family: SegoeUIVariable;
  user-select: none;
}

#taskbar {
  background-color: rgba(18,18,18, 0.7);
  backdrop-filter: blur(100px);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 200ms; 
  animation: slideUp 1s ease 0s 1 normal forwards;
}

#taskbar a {
  float: left;
  display: block;
  color: #FFFF;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  animation: slideUp 1s ease 0s 1 normal forwards;
}

#startMenu {
  background-color: rgba(18,18,18, 0.7);
  backdrop-filter: blur(100px);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 200ms; 
  border-radius: 0px 5px 0px 0px;
}

#startMenu ul#appList {
  list-style: none; 
  float: left;
  display: block;
  color: #FFFF;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

#startMenu ul#appList li a {
  list-style: none; 
  color: #FFFF;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

#startMenu ul#tileList li {
  list-style: none;
  float: left;
  margin:20px;
  width: 20%;
  height: 20%;
  text-decoration: none;
  color: #fff;
}

#startMenu ul#tileList li a {
  list-style: none;
  float: left;
  margin:20px;
  width: 20%;
  height: 20%;
  text-decoration: none;
  color: #fff;
}

#startMenu ul#tileList {
  height: 300px;
  float: right;
  color: #FFFF;
}

#taskbar a:hover {
  background-color: rgba(221, 221, 221, 0.2);   
}



.container {
  border: 3px solid rgba(18,18,18, 0.4);
  backdrop-filter: blur(100px);
  border-radius: 5px;
  position: absolute;
  width: 30%;
}

.row {
  padding: 3px;
  background-color: rgba(18,18,18, 0.4);
  backdrop-filter: blur(100px);
  border-radius: 3px;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot:hover {
  cursor: pointer;
}

.middle p {
  width: 220px;
  border-radius: 3px;
  border: none;
  margin-top: -1px;
  height: 25px;
  color: #fff;
  padding: 5px;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
.content {
  padding: 10px;
  background-color: rgba(18,18,18, 0.7);
  backdrop-filter: blur(100px);
  color: rgb(255,255,255);
}

#ctxMenu{
    display:none;
    z-index:100;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:50px;
    padding:10px;
    margin:0;
    margin-left: 10px;
    border-radius: 5px;
    background-color:rgba(18,18,18, 0.4);
    color: white;
    font-weight:normal;
    white-space:nowrap;
    backdrop-filter: blur(100px);
    animation: contextMenu 500ms ease 0s 1 normal forwards;
}
menu:hover{
    background-color:rgba(18,18,18, 0.4);
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:150px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630    More options";
}

@keyframes contextMenu {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes contextMenuOut {
	0% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}

	100% {
    opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(250px);
	}
}

@keyframes swingIn {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}
